<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
        github空间地址： https://weiwei02.github.io/
        国内空间地址：   https://weiwei02.cording.me/
    </span>
</footer>
<%- partial('ribbon') %>
